div
  md-card
    md-card-header
      .switch-container
        .power-switch-button-container
          md-switch.md-primary(ng-model="$ctrl.powerSwitch")
            | Power {{ $ctrl.powerSwitch ? 'Off' : 'On' }}
        .strict-switch-button-container
          md-switch.md-primary(ng-model="$ctrl.strictSwitch")
            | Strict mode
        .start-switch-button-container
           md-switch.md-primary(ng-model="$ctrl.startSwitch")
            | Start
    md-card-content
      .button-container
        .key-button(ng-repeat="buttonKey in $ctrl.buttons" ng-class="buttonKey.class" ng-click="$ctrl.onKeyPress(buttonKey)")
        .count-view-container
          | {{ $ctrl.countCounter }}