$key-button-height: 75px;
$key-button-width: 75px;
$key-button-green: #00a74a;
$key-button-red: #9f0f17;
$key-button-yellow: #cca707;
$key-button-blue: #094a8f;

.simon {
  color: red;
}

.button-container {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-areas: 
    "a b"
    "c d";
  grid-template-rows: auto;
  border-radius: 25px;
  width: max-content;
  border: 1px solid black;
}

.key-button-1 {
  grid-area: a;
  background-color: $key-button-green;
}

.key-button-2 {
  grid-area: b;
  background-color: $key-button-red;
}

.key-button-3 {
  grid-area: c;
  background-color: $key-button-yellow;
}

.key-button-4 {
  grid-area: d;
  background-color: $key-button-blue;
}

.key-button {
  border: 1px solid black;
  width: $key-button-width;
  height: $key-button-height;
  border-radius: 25px;
  margin: 15px 5px 15px 10px;
}

.count-view-container {
  position: relative;
  bottom: 115px;
  text-align: right;
}

.button-light {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}