.simon {
  color: red;
}

.button-container {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: auto;
}

.key-button {
  border: 1px solid black;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  transform: rotate(150deg);
}

.key-button-backslash {
  transform: rotate(30deg);
}