div
  md-card
    md-card-header
      .switch-container
        .power-switch-button-container
          md-switch.md-primary(ng-model="$ctrl.isPowerOn")
            | Power {{ $ctrl.isPowerOn ? 'Off' : 'On' }}
        .strict-switch-button-container
          md-switch.md-primary(ng-model="$ctrl.isStrictMode")
            | Strict mode
        .start-switch-button-container
           md-switch.md-primary(ng-model="$ctrl.isStart")
            | Start
    md-card-content
      .button-container
        .key-button(ng-repeat="buttonKey in $ctrl.buttons" ng-class="[ {true: buttonKey.class}[true], {true: 'button-light'}[buttonKey.isLight] ]" ng-click="$ctrl.onKeyPress(buttonKey)" ng-disabled="$ctrl.isDemo")
        .count-view-container
          | {{ $ctrl.countCounter }}